footer, header, nav, section, article { 
display: block; 
}

footer {}

html { 
font-size: 100%; 
overflow: hidden;
/*overflow-x: hidden;
/*-webkit-tap-highlight-color: rgba(0,0,0,0); 
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%;*/ 
height: 100%; 
min-height: 100%
}

body {
margin: 0; 
font-size: 12px; 
line-height: 16px; 
font-family: arial, sans-serif; 
color: #58595B; 
min-width: 939px; 
background: #5f6260; 
height: 100%; 
min-height: 100%
} 

/* default links */
a { color: #ef4925; text-decoration: none; }
a:hover { color: #58595B; outline: none; }

ul, ol, li { list-style:none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0;}

a:link { -webkit-tap-highlight-color: #58595B; }
::-moz-selection { background: #58595B; color: #fff; text-shadow: none; }
::selection { background: #58595B; color: #fff; text-shadow: none; }

/* section styles */
.section-content { float: left; background: #fff; margin-left: 334px; width: 460px; padding: 0 20px 100px 20px; }
.ie7 .section-content { float: left; clear: left; }
p { margin: 0; font-size: 12px; line-height: 16px; padding-bottom: 12px; }
h3 {font-weight: normal; margin: 0; font-size: 16px; line-height: 20px; padding-bottom: 16px; }
.orange { color: #ef4925; }
.indent { padding-left: 160px; }

h2 { font-weight: normal; font-family: 'Belizio'; font-size: 24px; line-height: 28px; padding: 17px 0; margin: 17px 0; border-top: 2px solid #aaa; border-bottom: 1px solid #ccc; }
h2 a { text-decoration: underline; }
.post h2 a { text-decoration: none; }
.section img { margin: 0 auto; display: block; padding-bottom: 13px; }
h2, #apply, h4, #email-list-form-wrapper { padding-left: 160px; }
.post h2 { color: #ef4925; padding-left: 0; margin-bottom: 5px; }

#wrap {
/*центрируем*/
  position:relative;
  width:100%; /*могут быть и пиксели*/
  margin: 0px auto;
/*вытягиваем в высоту*/  
  height:auto !important;
  height:100%;
  min-height:100%;
/*украшательства*/  
  border-left:0px;
  border-right:0px; 
}

#Menu {
	padding:0px;
	width: 100%; 
	height: 40px; 
	background-color: 116062;
}

#Logo {

	background-color:white; 
	height:40px; 
	width:160px;
	float: left;	
}

#Login {
	margin-right: 10px; 
	position: absolute;
	right: 10px;
	top: 10px;
}
/* nav */
#primary { position: fixed; top: 0px; left: 0; }
/*#primary li.logo { margin-left: 0px; text-indent: -999em; background: url("LOGO.jpg") no-repeat; width: 200px; line-height: 100px }*/
#primary li.logo a { display: block; width: 200px; }
#primary li { font-family: 'Belizio'; font-size: 48px; line-height: 66px; }
#primary li a { padding-left: 27px; color: #fff; display: block; }
#primary li a:hover { color: #ef4925; }
#primary li.current a, #primary li.current a:hover { background: #ef4925; color: #fff; }
#primary li.current a.home { background: none; }

.MenuLinks {
	float: Left;
	margin-top: 5px;
	margin-left:5px;
	background-color: white;
	height: 40px;
	vertical-align:middle;
}

#map {
	width: 100%;
	position: absolute;
	top: 40px;
	bottom: 0px;
	margin-right: 0px;
	/*left: 200px;*/	
}

#panel {
    position: absolute;
    /*top: 40px;*/
    right: -212px;
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    width: 212px
}
#panel-content {
    background: #EEE;
    border: 1px solid #CCC;
    width: 200px;
    height: 100%;
    float: right;
    padding: 3px 5px;
}
/*#panel-sticker {
    float: right;
    position: relative;
    background: orange;
    padding: 3px 0px 3px 5px;
    margin: 0px;
    cursor: pointer;
    top: 50%
}*/
/*#panel-sticker .close {
    position: absolute;
    right: 3px;
    top: 3px;
}*/

#scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
#additional{ color:orange; }
